@import "../../css-config/mixins.scss";

.main-header{
    width: 100%;
    background-color: #212121;
    // background: linear-gradient(rgb(211, 80, 80) rgb(100, 100, 218));
    color: white;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    z-index: 99;
    padding: 0 20px;
   @include md {
    // background-color: rgb(129, 17, 105);
    background:linear-gradient(to right, rgb(233, 76, 48),rgb(177, 13, 241));
    padding: 0 40px;
   }
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        max-width: 1200px;
        margin: 0 auto;
        @include md {
            height: 80px;
        }
        .left{
            display: none;
            list-style-type: none;
            gap: 25px;
            @include md{
                display: flex;
              
            }

            li{
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                cursor: pointer;
            }
            
            
        }
        .center{
            font-size: 32px;
            font-weight: 700;
            cursor: pointer;
            @include md{
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
            
        }
        .right{
          display: flex;
          align-items: center;
          gap: 25px;
            svg{
                font-size: 32px;
                cursor: pointer;
            }
            .cart-icon{
                position: relative;
                span{
                    // min-width: 25px;
                    text-align: center;
                    background-color: #8e2de2;
                    padding: 2.5px;
                    border-radius: 10px;
                   font-size: 12px;
                   position: absolute;
                   top: -5px;
                  right: -12px;
                  line-height: 1;
                }
            }
        }
    }
    &.sticky-header{
        position: sticky;
        top: 0;
        transform: translateY(-80px);
        animation:stikeyheader 0.4s ease forwards ;
    }
}


@keyframes stikeyheader{
    0%{transform: translateY(-80px);}
    100%{transform: translateY(0);}
}